@import './base/_colors.css';
@import './base/_typography.css';
@import './layout/_containers.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  letter-spacing: -0.02em;
  font-size: 12pt;
}

p {
  opacity: 80%;
}

a {
  text-decoration: none;
}

h1 {
  all: unset;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}

.inspect {
  border: red solid 1px;
}
