@import './base.css';

.inspect {
  border: red solid 1px;
}

@font-face {
  font-family: ApercuMonoRegular;
  src: url('/fonts/ApercuMonoProRegular.ttf');
}

@font-face {
  font-family: ApercuMonoMedium;
  src: url('/fonts/ApercuMonoProMedium.ttf');
}
