@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: ApercuMonoLight;
  src: url('/fonts/ApercuMonoProLight.ttf');
}

@font-face {
  font-family: ApercuMonoRegular;
  src: url('/fonts/ApercuMonoProRegular.ttf');
}

@font-face {
  font-family: ApercuMonoMedium;
  src: url('/fonts/ApercuMonoProMedium.ttf');
}

.font-plex-sans {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 2%;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}

.sub-reg {
  font-size: 10.5pt;
  font-family: ApercuMonoRegular;
  letter-spacing: -3.4%;
  line-height: 0.9;
}

.font-title {
  font-size: 43pt;
  font-family: ApercuMonoRegular;
  letter-spacing: -4%;
}

.font-desc {
  font-size: 18pt;
  font-weight: 250;
  line-height: 1.2;
}

.font-default {
  font-size: 10.5pt;
  font-weight: 350;
}
